{% extends 'empbase.html' %}
{% load static %}
{% block employee %}
<h2 class="text-primary"><center><b>Your Profile</b></center></h2>
<div class="row" style="background-color: #e3f2fd;">
    <div class="col-sm-8 mx-auto mt-5">
        <div class="card p-4 shadow">
            <div class="text-center">
                {% if emp.picture %}
                <img src="{{emp.picture.url}}" alt="Picture" height="150px" class="rounded-3">
                {% else %}
                <img src="{% static 'admin/assets/images/user/avatar-2.jpg' %}" alt="Picture" height="150px" class="rounded-3">
                {% endif %}
            </div>
            <hr/>
            <h5 class="text-center">Details</h5>
            <p>Name - <b>{{emp.name}}</b></p>
            <p>Email - <b>{{emp.email}}</b></p>
            <p>Contact No. - <b>{{emp.contactno}}</b></p>
            <p>Designation - <b>{{emp.designation}}</b></p>
            <p>Department - <b>{{emp.department.dept_name}}</b></p>
            <p>Address - <b>{{emp.address}}</b></p>
            <div class="text-center">
                <a href="" class="btn btn-success">Update Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}