{% extends 'adminbase.html' %}
{% load static %}

{% block admin %}
<h1 class="text-primary"><center>View Department</center></h1>
<div class="row" style="background-color: #F5F3FF;">
    <div class="col-sm-8 mx-auto mt-5">
        <table class="table table-striped">
            <tr class="table-primary">
                <th><b>S.no</b></th>
                <th><b>Department Name</b></th>
                <th>Action</th>
            </tr>
            {% for d in depts %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{d.dept_name}}</td>
                <td>
                    <a href="{% url 'deldept' did=d.id %}" class="btn btn-danger">
                        <i class="ti ti-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}